* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100vw;
}
body {
  min-height: 100vh;
  min-width: 100vw;
}
.main-container {
  min-height: calc(100vh - 221px);
}
.headbar {
  color: white;
  background-image: url(./stars.jpg);
  background-size: 100%;
  height: 80px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
}
h1 {
  margin-left: 10px;
}

footer {
  width: 100vw;
  position: relative;
  bottom: 100px;
}



.navitems li {
  list-style-type: none;
  font-size: 10vh;
  width: 50vw;
  font-style: none;
  color: black;
}
.navitems li:hover {
  transform: scale(1.5);
  font-weight: 100;
  cursor: pointer;
  text-shadow: 1px 5px #020474
}


.styledphoto {
  aspect-ratio: 1 / 1;
  height: auto;
  width: 30vw;
  object-fit: cover;
  border-radius: 20%;
  filter: drop-shadow(0 0 3em #000);
  border:  10px ridge black;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}
img {
  height: 30vw;
  width: auto;
  margin-left: 50%;
  transform: translateX(-50%);
}
.content {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  flex-wrap: wrap;
  position: relative;
  bottom: 20px;
}
.textcontent {
  display: flex;
  width: 50vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}
input[type=checkbox] {
  display: none;
  
}
label {
  background-color: rgb(255, 255, 255);
}
section {
  background-color: rgb(255, 255, 255)
  text-align: center;
  display: none;
  position: fixed;
  left: 20%;
  bottom: 20%
}
input[type=checkbox]:checked ~ section {
  display: flex;
  flex-direction: column;
}
.box1 {
  width: 40px;
  height: 4px;
  background-color: rgb(255, 255, 255);
}
.box2 {
  width: 32px;
  height: 4px;
  background-color: rgb(255, 255, 255);
}
.box3 {
  width: 25px;
  height: 4px;
  background-color: rgb(255, 255, 255);
}
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 25px;
  margin-right: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 20px;
  transform: translateY(100px);
  background-color: rgb(0, 0, 0);
  color: yellow;
  text-align: center;

}

/*About page*/

.contactform {
  width: 600px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 15px;
  border-radius: 5%;
}
input[type=text] {
  width: 99%;
  display: inline-block;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 2px;
}
input[type=submit] {
  background-color: #8081e2;
  padding: 10px;
  border-radius: 15%;
  border: 2px solid black;
  cursor: pointer;
}

/*About page*/

/* Blog Page */

#blogcontent {
  background-color: lightblue;
  width: 800px;
  height: 600px;
  position: relative;
  left: 200px;
  dis
}



@media only screen and (max-width: 768px) {
  .navitems li {
    font-size: 2em;
    display: block;
    flex-direction: column;
    width: 100px;
    background-color: red;
  }
  input[type=checkbox] {
    display: none;
    }
  label {
    background-color: rgb(255, 255, 255);
  }
  input[type=checkbox]:checked ~ section {
  display: flex;
  flex-direction: column;
  }
  section {
  background-color: rgb(255, 255, 255)
  text-align: center;
  display: none;
  position: fixed;
  top: 80px;
  left: 60%
  }
  .content {
    flex-wrap: wrap-reverse;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .textcontent h2 {
    text-align: center;
  }
.contactform {
  width: 100%;
  display: inline-block; 
}
}

/* About */


@media only screen and (min-width: 768px) {
  .navitems {
    background-color: rgba(233, 199, 199, 0.966);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: 0%;
    text-align: center;
    align-items: center;
    z-index: 1;}
  }

@media screen and (min-width: 1200px;) {
  
}

  

